/* Temas del segundo período*/

.texto{
   
    font-size: 50px;
    padding-top: 140px;
    text-align: justify;
    color: rgb(0, 153, 255);
}
.principal{
   display: flex;
     
}
body{
    background-image: url("imagen.webp");
    

}

.imagtec{
height: 300px;
width: 500px;
background-image: url("circuito_simple.jpg");

}

.imagtec2{
height: 500px;
width: 1000px;
background-image:url(circuitoelectrico1.jpg) ;

}

.imagsociales{
height: 1000px;
width: 1900px;
background-image: url(MapaMentalsociales1.jpg);
}


.imagebulimia{
height: 500px;
width: 800px;
background-image: url(bulimia1-1.jpg);

}

.imagecomsalu{
height: 600px;
width: 1000px;
background-image: url(comer-saludable.jpg);
}

.imageactividadfisicas{
height: 100px;
width: 300px;
background-image: url(actividadfisica.jpg);

}

.dormir{
height: 100px;
width: 300px;
background-image: url(dormir.jpg);

}


.excesos{
height: 150px;
width: 200px;
background-image: url(exesos.jpg);

}

.meditar{
height: 720px;
width: 1000px;
background-image: url(meditar.jpg);
}

.estudiar{
height: 449px;
width: 675px;
background-image: url(como-estudiar.jpg);

}

.leer{
height: 600px;
width: 1000px;
background-image: url(aprender-a-leer.jpg);

}

.nodesayunar{
height: 675px;
width: 1200px;
background-image: url(no-desayunar-aumenta-riesgo-diabetes.jpg);

}

.insomnio{
height: 900px;
width: 1600px;
background-image: url(insomnio.jpg);

}

.noactividadfisica{
height: 540px;
width: 960px;
background-image: url(noactividadfisica.jpg);

}

.comerd{
height: 848px;
width: 1200px;
background-image: url(comer.jpg);

}

.estres{
height: 500px;
width: 800px;
background-image: url(estres.jpg);

}

.sol{
height: 440px;
width: 600px;
background-image: url(sol.jpg);

}

.imagenexcel{
height: 150px;
width: 300px;
background-image: url(excel.jpg);

}


.logodeinicio{
height: 900px;
width: 1000px;
background-image: url(Sin\ título.png);

}


.yefer{
height: 900px;
width: 1000px;
background-image: url(yefer.png);

}

.jime{
height: 900px;
width: 1000px;
background-image: url(jime.png);

}

